.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e25;
  color: #f9f8f8;
  padding-bottom: 1rem;
}

.contact-content-container {
  text-align: center;
  width: 90%;
}

.contact-title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.contact-info {
  padding: 1rem 0;
}

.contact-name {
  font-size: xx-large;
  color: #d9a966;
}

.contact-email {
  font-size: large;
  font-family: sans-serif;
}

.contact-links-container {
  padding-bottom: 1rem;
}

.contact-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.contact-link-title {
  font-size: 1.25rem;
}

.contact-link {
  transition: all 500ms ease-in-out;
}

.contact-link:hover {
  color: #d9a966;
  transform: scale(1.1);
}

.footer {
  padding-bottom: 1.5rem;
}

.footer-copyright {
  font-family: sans-serif;
}

.footer-span {
  font-family: 'Special Elite', cursive;
}

@media screen and (min-width: 600px) {
  .contact-title {
    position: absolute;
    top: 8rem;
    left: 3rem;
    right: 3rem;
  }

  .contact-info {
    padding-top: 3rem;
  }

  .contact-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .contact-link-box {
    padding: 0 1rem 0 1rem;
  }

  .footer {
    position: absolute;
    bottom: 10vh;
  }
}

@media screen and (min-width: 1024px) {
  .contact-info {
    padding-top: 0;
  }

  .contact-link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    max-width: 150px;
    margin: 0 1rem 0 1rem;
    border: solid 2px #f9f8f8;
    border-radius: 8px;
  }
}
