.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.project-half-a,
.project-half-b {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img-container {
  padding-top: 1em;
}

.project-img-a {
  width: 350px;
  height: 163px;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
}

.project-links {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.project-links > a {
  margin-inline: 1em;
}

.project-info {
  text-align: left;
}

.project-description-title,
.tech-stack-title {
  display: block;
  text-decoration: underline;
  margin-bottom: 1em;
  text-align: left;
}

.project-tech-stack {
  width: 100%;
}

.tech-stack-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tech-stack-container > .list-item {
  border-radius: 20px;
  background-color: var(--clr-dark-accent);
  padding: 0.5em;
  margin: 0.25em 0.25em;
}

@media screen and (min-width: 768px) {
  .list-item-a {
    margin: 0.5rem 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .project1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .project-half-a,
  .project-half-b {
    width: 50%;
    padding: 0 4rem;
  }

  .project-img-a {
    width: 400px;
    height: 187px;
  }

  .project-description-title,
  .tech-stack-title {
    font-size: 24px;
    padding-bottom: 1rem;
  }

  .project-info {
    padding-bottom: 4rem;
  }

  .tech-stack-container {
    width: 120%;
  }
}

@media screen and (min-width: 1440px) {
  .tech-stack-container {
    width: 80%;
  }

  .project-img-a {
    width: 600px;
    height: 280px;
  }
}
