.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e25;
  color: #f9f8f8;
  padding: 2rem 1rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  color: #d9a966;
  font-size: 2rem;
  padding-left: 1.5rem;
}

.nav-link-container {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
}

.nav-link {
  padding: 0 1rem;
  transition: all 500ms ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #d9a966;
}
