.header {
  position: fixed;
  width: 100vw;
  right: 0;
  z-index: 100;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  background-color: #263a54;
  color: #f9f8f8;
  padding: 3rem;
}

.logo {
  display: flex;
  align-items: flex-end;
  color: #d9a966;
  font-size: 2rem;
  padding-left: 1.5rem;
}

.nav-link-container {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
}

.nav-page-link {
  padding: 0 1.5rem;
}
/* 
.nav-page-link:hover:before {
  transition: color 0.5s, transform 0.5s;
}

.nav-page-link:hover:after {
  transform: translate3d(0px, 2px, 0);
} */
