.mobile-header {
  background-color: #263a54;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: fixed;
  width: 100vw;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
}

.mobile-logo {
  color: #d9a966;
  font-size: xx-large;
}

.mobile-nav-link,
.mobile-nav-link:visited {
  color: #263a54;
}
