.home {
  position: relative;
  background-color: #1e1e25;
  color: #f9f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  font-size: 3rem;
  width: 90%;
  padding: 10rem 0 0 1rem;
  text-align: left;
}

.welcome-name {
  color: #d9a966;
}

.welcome-text-secondary {
  padding-top: 3rem;
  font-size: 2rem;
}

.home-links-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  padding-top: 2rem;
}

.home-link-box {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.home-link-box:hover {
  color: #d9a966;
  transform: scale(1.2);
}

.bottom-link {
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #d9a966;
  transition: all 500ms ease-in-out;
}

/* color: #cac6aa; */
.bottom-link:hover {
  transform: scale(1.2);
}

@keyframes bounce {
  0% {
  }
}

@media screen and (min-width: 768px) {
  .welcome-text {
    font-size: 5rem;
    width: 75%;
    padding: 10rem 0 0 1rem;
    text-align: left;
  }

  .welcome-name {
    color: #d9a966;
  }

  .welcome-text-secondary {
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }

  .home-links-container {
    width: 75%;
    justify-content: flex-start;
  }

  .home-link-box {
    padding: 1rem 3rem;
  }

  .bottom-link {
    font-size: 1.5rem;
  }
}
