.home {
  position: relative;
  color: var(--clr-light);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-primary);
  padding-top: 8em;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 90%;
}

.welcome-name {
  color: var(--clr-brand);
}

.welcome-text-secondary {
  padding-top: 3rem;
}

.home-links-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 2rem;
  font-family: var(--ff-secondary);
}

.home-link-box {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.home-link-box:hover,
.home-link-box:focus {
  color: var(--clr-brand);
  transform: scale(1.05);
}

.bottom-link {
  position: absolute;
  bottom: 0;
  padding-bottom: 0.5rem;
  display: grid;
  justify-self: center;
  font-size: 1rem;
  /* color: var(--clr-brand); */
  transition: all 500ms ease-in-out;
}

@media screen and (min-width: 1024px) {
  .home {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 3fr) minmax(300px, 3fr) 1fr;
    perspective: 40rem;
    overflow-x: hidden;
    padding-top: 0;
  }

  .welcome-text {
    grid-column: 2/3;
  }

  .home-links-container {
    position: absolute;
    right: 0;
    grid-column: 3 / 4;
    width: 100%;
    justify-content: left;
    align-items: center;
    transform: rotateY(-40deg);
  }

  .home-link-box {
    padding: 1rem 3rem;
    background: var(--clr-dark-accent);
    border-radius: 5px;
    margin: 2rem 1rem 2rem 1rem;
  }

  .home-link-box:hover,
  .home-link-box:focus {
    box-shadow: 0 0 1.5rem var(--clr-light);
  }
}
