.project2 {
  background-color: #f9f8f8;
  color: #263a54;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.project-img-b {
  width: 350px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border: solid 4px #263a54;
  border-radius: 8px;
}

div .list-item-b {
  font-size: 12px;
  border-radius: 20px;
  background-color: #cac6aa;
}

.list-item-b {
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-family: sans-serif;
}

@media screen and (min-width: 1024px) {
  .project2-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .project-img-b {
    width: 100%;
  }
}
