.project3 {
  background-color: #263a54;
  color: #f9f8f8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.project3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media screen and (min-width: 1024px) {
  .project3 {
    padding-top: 6rem;
  }

  .project3-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
