.project1 {
  background-color: #263a54;
  color: #f9f8f8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.screen-title {
  display: none;
  width: 90%;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: right;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.project-image-and-links {
  display: none;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-img {
  display: none;
  width: 350px;
  height: auto;
  object-fit: cover;
  object-position: center;
  border: solid 4px #d9a966;
  border-radius: 8px;
}
.project-links {
  width: 90%;
  padding-top: 0.5rem;
  font-size: medium;
  display: flex;
  justify-content: space-between;
}

.project-link {
  padding: 0 0.5rem;
}

.project-link,
.project-link:visited {
  color: #d9a966;
}

.project-info {
  text-align: left;
  width: 90%;
}

.project-title {
  font-size: 3rem;
}

.project-description {
  font-size: 1rem;
}

.list-item span {
  position: relative;
}
